body {
	position: relative;
    padding-bottom: 90px;
    overflow-x: hidden;
    height: auto;
    min-height: 100vh;
}
footer {
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.dark-bg {
	background-color: #222;
}
.dark-bg .copyright {
    color: white;
}
.dropdown.open .dropdown-menu a {
	color: black;
}
.alert {
    padding: 5px;
    margin-bottom: 10px;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: 0px;
    color: inherit;
}
article, .comment {
    float: left;
    display: inline-block;
    clear: both;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border-bottom: 1px solid;
    border-radius: 20px;
    width: 100%;
}
article h2 {
    margin-left: 15px;
}
article img {    
    display: block;
    margin: 15px auto;
}
article blockquote {
    padding: 10px 7px;
    text-align: justify;
    margin-bottom: 5px;
}
article form, .comment .comment-delete-form {
    float: right;
}
article .delete-btn,
.comment .delete-btn {
    border: 0;
    padding: 0;
    color: #fed136;
}
article .delete-btn:hover,
.comment .delete-btn:hover {
    color: #fed136;
}
.blog-footer {
    margin: 0 15px;
    clear: both;
}
.blog-info {
    float: left;
}
.blog-actions {
    float: right;
}
.blog-actions em {
    margin: 5px;
}
.blog-info em {
    color:  #fed136;
}
.blog-info span {
    margin: 0 5px; 
}
section#blog-list {
    padding: 100px 0;
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    background-color: #fed136;
    border-color: #fed136;
}
.pagination>li>a, .pagination>li>span {
    color: #fed136;
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus, 
.pagination>li>span:hover {
    color: #fed136;
}
.sidebar {
    background-color: #fbfbfb;
    border-radius: 20px;
}
.sub-comment-container {
    clear: both;
}
.ajax-pagination .pagination {
    margin: 0;
}